body {
    font-family: "Poppins";
    font-style: normal;
    box-sizing: border-box;
    height: 100vh;
}

header {
    background-image: url(/assets/travel.png);
    max-width: 1700px;
    padding-left: 300px;
    padding-top: 21px;
    padding-right: 100px;
    padding-bottom: 285px;
    margin: 0 auto;
}

.header_wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.logo {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
    text-decoration: none;
}

.header_nav {
    width: 45%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.header_nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.header_nav a:hover {
    color: #FFC817;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.login:hover {
    color: #FFC817;
}

.sign_up {
    display: flex;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: #1F3347;
    background: #FFC814;
    border-radius: 4px;
    font-weight: 600;
    padding: 16px 47px;
    border: none;
    cursor: pointer;
}

.top {
    max-width: 560px;
}

h1 {
    color: #ffffff;
    font-weight: bold;
    font-size: 64px;
    line-height: 76px;
    margin-bottom: 17px;
    margin-top: 118px;
}

p.description {
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 37px;
}

.button {
    display: flex;
    align-items: center;
}

.btn {
    padding: 16px 18px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    border: none;
    cursor: pointer;
}

.get_exploration {
    color: #22283C;
    background: #FFC814;
    border-radius: 4px;
    margin-right: 20px;
}

.read_more {
    color: #181818;
    background: #FFFDFD;
    border-radius: 4px;
}

.read_more:hover {
    background-color: #FFC814;
}